.bug-filter {
    background-color: var(--gray2);
    padding: 1em;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter label {
    margin-inline-start: 1em;
}

.sort-controls {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 10px 0;
}

.sort-arrow {
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}